
@{
    ViewBag.Title = "Information";
}

<script type="text/javascript">

        function AfficheDiagramme() {
                $.ajax({
                url: "/home/GetPrev",
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                data: { idFeu: document.getElementById("selectFeu").value },
                success: function (liste) {
                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(drawChart);
                    function drawChart() {
                        var idFeu = document.getElementById("selectFeu").value;
                        console.log(liste);

                        var data = new google.visualization.DataTable();
                        data.addColumn("number", "heure");
                        data.addColumn("number", "Estimation");
                        data.addColumn("number", "Estimation inférieure");
                        data.addColumn("number", "Estimation supérieure");
                        liste.forEach((item) => {

                            data.addRows([
                                [item.Heure, item.Estimation, item.EstimationInferieure, item.EstimationSuperieure]
                            ]);

                        })

                        var options = {
                            title: 'Prévision du nombre de passages sur 24H',
                            hAxis: { title: 'Heure', titleTextStyle: { color: '#333' } },
                            vAxis: { minValue: 0 }
                        };

                        var chart = new google.visualization.AreaChart(document.getElementById('graph_div'));
                        chart.draw(data, options);
                    }
                }
            });
        }

</script>

<h3>Prévisions du nombre de véhicules à venir par feu sur 24h</h3>

<label>Choix du feu</label>

<select id="selectFeu">
    @foreach (var feu in ViewBag.feu)
    {
        <option value="@feu.idFeu">@feu.matricule</option>
    }
</select>

<input type="button" onclick="AfficheDiagramme()" name="btPrev" value="Prévisions" />

<div id="graph_div" style="height:300px; width:80%;"></div>







